KEYSTORE_FILE=android/app/key.jks
KEYSTORE_PASSWORD=
KEY_ALIAS=androidKey
KEY_PASSWORD=

API_ENDPOINT=https://app.parsa-ai.com.br

SENTRY_DSN=

# Firebase
FIREBASE_ANDROID_API_KEY=
FIREBASE_ANDROID_APP_ID=
FIREBASE_IOS_API_KEY=
FIREBASE_IOS_APP_ID=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_ANDROID_CLIENT_ID=
FIREBASE_IOS_BUNDLE_ID=
